<div class="table-container">
  <h1>{{title}}</h1>
  <table mat-table [dataSource]="socios">

      <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element; index as i"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="socio">
        <th mat-header-cell *matHeaderCellDef> Socio </th>
        <td mat-cell *matCellDef="let element"> {{element.socio}} </td>
    </ng-container>

      <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> DNI </th>
          <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
      </ng-container>

  
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>
      

      <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>


      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let socio; index as i">
              <button mat-icon-button color="basic" (click)="onEditSocio(i)">
              <mat-icon>edit</mat-icon>
            </button>
              <button mat-icon-button color="warn" (click)="onDeleteSocio(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="buttons">
      <button type="button" mat-raised-button color="primary" (click)="onAddSocio()">Agregar socio</button>
  </div>
</div>